/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* STARTER-PACK */

body{
    min-width: 1400px;
}

.flexbox{
    display: flex;
}

p.brand{
    color: rgb(109, 109, 109);
    font-weight: 200;
}

h1.name{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
}

span.discount-price{
    color: red;
    font-size: 0.9rem;
    font-weight: 700;
}

span.full-price{
    color: rgb(109, 109, 109);
    font-size: 0.9rem;
    font-weight: 200;
    text-decoration: line-through;
}

div.img-sticker{
    position: absolute;
    padding: 3px 10px;
    color: white;
    font-size: 0.85rem;
}

div.discount{
    left: 5%;
    bottom: 15%;
    background-color: red;
}

div.sustainability{
    left: 18.5%;
    bottom: 15%;
    background-color: green;
}

.like-it{
    position: absolute;
    top: 5%;
    right: 8%;
    color: black;
    font-size: 1.2rem;
}

.like-it:hover{
    color: red;
}

/* HEADER */

header{
    background-color: rgb(255, 102, 0);
    padding: 15px 15%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
}

header a{
    color: white;
    text-decoration: none;
}

header section:first-child a:hover{
    text-decoration: underline;
}

header section{
    width: calc(100% / 3);
    align-items: center;
}

header section:first-child{
    justify-content: flex-start;
    gap: 10px;
}

header section:nth-child(2){
    justify-content: center;
}

header section:last-child{
    justify-content: flex-end;
    gap: 10px;
}

header img.logo{
    width: 160px;
}

/* MAIN */

main{
    margin: 150px auto 0;
    width: 70%;
    flex-wrap: wrap;
}

main section{
    height: 700px;
    width: calc(100% / 3);
}

main div.image{
    height: 85%;
    position: relative;
}

main div.description{
    height: 15%;
    flex-direction: column;
}

main div.image img{
    width: 90%;
    max-height: 96%;
    margin: auto;
}

main div.image img:last-of-type{
    position: absolute;
    top: 2%;
    left: 5%;
}

main div.image img:last-of-type:hover{
    display: none;
}

main div.description{
    padding: 0 5%;
}

/* FOOTER */